.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-wrap-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-centered {
  display: flex;
  align-items: center;
}

.flex-align-start {
  display: flex;
  align-items: flex-start;
}

.flex-justify-centered {
  display: flex;
  justify-content: center;
}

.flex-grow-one {
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}